.bgimg1{
	background-image: url('https://mobimg.b-cdn.net/v3/fetch/5d/5d193bfff6560f03e7bc2ecfeadef5f4.jpeg?h=450&r=0.5');
	background-size: cover;
	height: 160vh;
}
.headfirst{
	font-family: 'Roboto';
	color:white;
	font-size: 30px;
	font-weight: bold;
	padding:25px;
}
.bgcarouselcard{
	background-color: lightpink;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin: 250px;
	margin-top: 50px;
}
.cardcon{
	padding: 5px;
}
.headsecond{
	color: darkblue;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight:bold; 
}
.paraline{
color: #6c6b70;
font-family: 'Roboto';
font-size: 13px;
}